.event-heading {
  margin-top: 6rem;
  font-weight: bold;
  text-align: center;
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  color: azure;
  padding: 1rem;
}
.ev-body {
  display: block;
  margin-top: 15vh;
  min-height: 95vh;
}
.ev-heading {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.82);
}
.ev-div {
  margin-left: 2rem;
}
.background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../images/recom.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 65vw 69vh;

  z-index: -1;
}
