.homebody-aside {
  margin-left: 10px;
  float: left;
  margin-right: 10px;
}
.homebody-asside-text {
  margin-left: 10px;
  margin-top: 100px;
  padding-top: 100px;
  font-family: "Merienda";
  font-size: larger;
  font-weight: 700;
  word-spacing: 1px;
  text-justify: auto;
  text-align: center;
  margin-right: 10px;
}
.get-started {
  padding: 8px 12px;
  font-size: large;
  color: #1f1b09e5;
  font-weight: bold;
  border: 3px solid;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  border-color: #ffd500e5;
  background-color: #ecc812e5;
}

.get-started:hover {
  background: #feed029a;
  color: #060606;
  border: none;
  box-shadow: 0 0 5px #ffd500b8, 0 0 2px #ffd500e5, 0 0 2px #ffd500e5,
    0 0 2px #ffd500e5;
}
