/* body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.univ-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 21vw;
  padding: 1vw 0.5vw;
  background: rgb(230, 207, 107);
  background: linear-gradient(
    177deg,
    rgba(230, 207, 107, 0.2191001400560224) 50%,
    rgba(24, 125, 122, 0.5440301120448179) 100%
  );
  border-radius: 10px 10px 10px 10px;
}

input {
  border: 1px solid rgb(172, 171, 171);
  border-radius: 10px;
  padding: 0.6vw 0.6vw;
  outline: none;
  margin: 1px;
}
