.UL-item {
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
  padding-left: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: medium;
  border-width: 2rem;
  border: 1px solid;
  margin-top: 1.7rem;
  height: 3rem;
  display: flex;
  border-radius: 18px;
  border-color: rgba(255, 255, 127, 0.397);
  background-color: rgba(32, 27, 27, 0.655);
  margin-left: 8rem;
  box-shadow: 5px 5px 20px 5px rgba(85, 86, 87, 0.521);
  color: rgb(247, 236, 220);
  font-size: medium;
}
.ulist {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}
.ulist-univ {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  width: 4rem;
}
.ul-span {
  align-items: center;
  align-content: center;
  font-size: medium;
}
.ul-form {
  width: inherit;
  border-radius: 0px;
  background-color: rgba(228, 195, 28, 0.196);
  height: 2rem;
  text-align: center;
  padding-top: 0.2rem;
  padding-bottom: 0.7rem;
  color: rgb(27, 26, 26);
  font-weight: bold;
  font-size: medium;
}
.ul-body {
  /* background-image: url("../library.jpg"); */
  padding: 0;
  margin: 0;
  height: inherit;
  width: 100%;
}
.ul-heading {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.82);
}
.universityList-heading {
  margin-top: 6rem;
  font-weight: bold;
  text-align: center;
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  color: azure;
  padding: 1rem;
}
