.UL-item-r {
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: medium;
  border-width: 2rem;
  border: 1px solid;
  margin-top: 1rem;
  height: 3rem;
  display: flex;
  border-radius: 18px;
  border-color: rgba(255, 255, 127, 0.397);
  background-color: rgba(32, 27, 27, 0.655);
  margin-left: 3rem;
  box-shadow: 5px 5px 20px 5px rgba(85, 86, 87, 0.521);
  color: rgb(247, 236, 220);
  font-size: medium;
}
.ulist-r {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}
