/* Apply general styles to the entire page */
.VisaprepBody {
    margin-top: 10vh;
    padding: 0;
    width: 99vw; 
    /* height: 100vh; Full viewport height */
    /* display: flex; */
    /* flex-direction: column; */
  }
  
  /* Style the top half of the page with an image */
  .VisaImage {
    /* width: 20vh; */
    height: 60vh;
    /* flex: 1;  */
    background: url("../images/visaprep.jpg") no-repeat;
    /* background-size: cover; Adjust the image size to cover the entire top half */
    background-position: center right; /* Center the image horizontally and vertically */
    background-size: cover;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    /* font-size: 6vh; */
    /* font-family:'Times New Roman', Times, serif; */
    /* color: white; */
  }
  
  /* Style the bottom half of the page containing content */
  .Visaprep_content_split {
    flex: 1; /* Occupies half of the available height*/
    background-color: #f2f2f2; /* Optional background color for the bottom half */
    display: flex;
    flex-direction: row;
  }

  .greSevice_content_split p {
    font-size: 2.5vh;
  }

  .Visaprep_apart {
    background-color: #f2f2f2;
    font-size: 2.5vh;
    margin-top: -3vh;
    padding: 4vh;
  }

  .Visaprep_info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content:first baseline; */
    /* margin-left: 20%;
    margin-top: 2%; */
    padding: 4vh;
  }

  .Visaprep_info_heading {
    margin: 4%;
    font-size: 4.5vh;
    
  }

  .Visaprep_shedule {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }