#heading1{
    color: rgb(93, 224, 247);
    font-size: 500%;
    text-align: center;
}
#heading2{
    color: black;
    font-size: 500%;
}
#headertext{
     margin-top:5%;
}
#text1{
    font-size: 200%;
    text-align: center;
}
#btn{
    background-color: #4fd2f3;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    align-items: center;
    display: block; /* Use 'block' to make it a block-level element */
    margin: 0 auto;
}
#btn:hover{
    background-color: lightskyblue;
}
.review{
    width: 80%;
    height:20%;
    box-shadow: 0 7px 10px 0 rgba(100, 110, 248, 0.2), 0 6px 20px 0 rgba(87, 160, 245, 0.19);
    /* position :initial; */
    /* top: 50%;
    left: 50%; */
    margin-top: 15%;
    transform: translate(-50%, -50%);
    text-align: left;
    margin-left:50%;
    padding:1px;
     
    }
    .review1{
        width: 80%;
        height:20%;
        box-shadow: 0 7px 10px 0 rgba(100, 110, 248, 0.2), 0 6px 20px 0 rgba(87, 160, 245, 0.19);
        /* position :initial; */
        /* top: 50%;
        left: 50%; */
        margin-top: 1%;
        transform: translate(-50%, -50%);
        text-align: left;
        margin-left:50%;
        padding:1px;
         
        }
        .review2{
            width: 80%;
            height:20%;
            box-shadow: 0 7px 10px 0 rgba(100, 110, 248, 0.2), 0 6px 20px 0 rgba(87, 160, 245, 0.19);
            /* position :initial; */
            /* top: 50%;
            left: 50%; */
            margin-top: 1%;
            transform: translate(-50%, -50%);
            text-align: left;
            margin-left:50%;
            padding:1px;
             
            }
    .review:hover{
    box-shadow: 7px 7px 7px 1px lightblue;
    }
    .review1:hover{
        box-shadow: 7px 7px 7px 1px lightblue;
        }
        .review2:hover{
            box-shadow: 7px 7px 7px 1px lightblue;
            }
        .video-card1 {
            width: 400px; /* Adjust the width as needed */
            height: 50%;
            border: 1px solid #ccc;
            margin-left: 2%;
            padding: 0px;
            margin-top:0%;
            text-align: center;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }
        .video-card2 {
            width: 400px; /* Adjust the width as needed */
            height: 50%;
            border: 1px solid #ccc;
            margin-left: 36%;
            padding: 0px;
            margin-top:-20.5%;
            text-align: center;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }
        .video-card3 {
            width: 400px; /* Adjust the width as needed */
            height: 50%;
            border: 1px solid #ccc;
            margin-left: 69%;
            padding: 0px;
            margin-top:-20.5%;
            text-align: center;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }
        
        video {
            width: 100%;
        }
        
        .video-card1 p {
            font-size: 16px;
        }
        .review h4,
        .review1 h4,
        .review2 h4,
        .review h3,
        .review1 h3,
        .review2 h3,
        .review h5,
        .review1 h5,
        .review2 h5 {
            display: inline;
            margin-left: 10%; 
            
            /* justify-content: space-between; */
        }
       
        .review{
            padding: 3%;
            border-radius: 5px;
        }
        .review1{
            padding: 3%;
            border-radius: 5px;
        }
        .review2{
            padding: 3%;
            border-radius: 5px;
        }
     
     .review h4,.review h3{
        margin: 0;
     }
     .review1 h4,.review1 h3{
        margin: 0;
     }
     .review2 h4,.review2 h3{
        margin: 0;
     }
     .review div{
        margin-top: 5px;
     }
     .review1 div{
        margin-top: 5px;
     }
     .review2 div{
        margin-top: 5px;
     }